*
!.gitignore
!aws-auth-cm.yaml
!cwagent-configmap.yaml
!cloudformation.yaml
!generic_with_logout.py
!helm_config.yaml
!README.md
!login.html
!pending.html
!test_efs_claim.yaml
!test_efs.yaml
!hub_efs_claim.yaml
!hub_efs_vol.yaml
!hub_efs_sc.yaml
!hub_efs.yaml
