{% extends "page.html" %}

{% block stylesheet %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>
<style>

    #groups-main .delete-group-button {
        color: orange;
        opacity: 0.5;
        transition: 0.3s;
        cursor: pointer;
    }

    #groups-main .delete-group-button:hover {
        opacity: 1;
    }

    #groups-main .group-type-action {
        color: orange;
    }

    #groups-main .group-settings-container {
        padding: 10px 10px;
    }

    #groups-main .dropdown-container {
        position: relative;
    }

    #groups-main .all-users {
        background-color: #69696912;
    }

    #groups-main .action-group {
        border-bottom-color:green;
        border-bottom-width: 2px;
    }

    #groups-main th, 
    #groups-main td {
        text-align: center;
    }

    #groups-main .btn-link {
        color: #000484;
    }

</style>
{% endblock %} <!-- stylesheet -->

{% block scripts %}
<!-- Override the default JS scripts since they are incompatible with datatables -->
<!-- require.js is overloaded so it doesn't crash. Require is not in a block so it can't be deleted. -->
<script> require = {}; require.config = function(){}; </script>
{% endblock %}

{% if announcement_login %}
  {% set announcement = announcement_login %}
{% endif %}

{% macro group_settings(group_name='new', description='', group_type='label', is_all_users=0, is_enabled=1, is_new=0) %}
<div class="group-settings-container dropdown-menu" role="menu" aria-labelledby="{{ group_name }}-add-group-button" data-group="{{ group_name }}">
    <form>
        <div class='form-group'>
            {% if is_new == 1 %}
            <label for="new-name-select">Group Name</label>
            <input id="new-name-select" class="name-select form-control" type='text' size='20' placeholder='New Group Name'/>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ group_name }}-description-select">Group Description</label>
            <textarea id="{{ group_name }}-description-select" class="description-select form-control" rows=3 maxlength=254 placeholder='Description of Group'>{{ description }}</textarea>
        </div>

        <div class="form-group">
            <div class="group-type-select" id="{{ group_name }}-group-type-select">
                <label class="col-form-label">Group Type</label>
                <div>
                    {% if group_type == 'action' %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="{{ group_name }}-group-type-select-label" value="label" name="{{ group_name }}-group-type">
                        <label class="form-check-label" for="{{ group_name }}-group-type-select-label">
                            label
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="{{ group_name }}-group-type-select-action" value="action" name="{{ group_name }}-group-type" checked>
                        <label class="form-check-label" for="{{ group_name }}-group-type-select-action">
                            action
                        </label>
                    </div>
                    {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="{{ group_name }}-group-type-select-label" value="label" name="{{ group_name }}-group-type" checked>
                        <label class="form-check-label" for="{{ group_name }}-group-type-select-label">
                            label
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="{{ group_name }}-group-type-select-action" name="{{ group_name }}-group-type" value="action">
                        <label class="form-check-label" for="{{ group_name }}-group-type-select-action">
                            action
                        </label>
                    </div>
                    {% endif %}
                </div>
            </div>
         </div>

        <div class="form-group">
            {% if is_all_users == 1 %}
            <input type='checkbox' id="{{ group_name }}-is-all-users-select" class="is-all-users-select form-check-input" data-group="{{ group_name }}" checked />
            {% else %}
            <input type='checkbox' id="{{ group_name }}-is-all-users-select" class="is-all-users-select form-check-input" data-group="{{ group_name }}" />
            {% endif %}
            <label class="form-check-label" for="{{ group_name }}-is-all-users-select">All Users?</label>
        </div>

        <div class="form-group">
            {% if is_enabled == 1 %}
            <input type='checkbox' id="{{ group_name }}-is-enabled-select" class="is-enabled-select form-check-input" checked />
            {% else %}
            <input type='checkbox' id="{{ group_name }}-is-enabled-select" class="is-enabled-select form-check-input" />
            {% endif %}
            <label  class="form-check-label" for="{{ group_name }}-is-enabled-select">Is Enabled?</label>
        </div>

        {% if is_new == 1 %}
        <button class="btn btn-primary dropdown-item" id="new-submit-button">Add Group</button>
        {% else %}
        <button class="btn btn-primary dropdown-item group-update-button" id="{{ group_name }}-update-button" data-group="{{ group_name }}">Update Group</button>
    </form>

    <hr>

    <button class="btn btn-danger dropdown-item group-delete-button" id="{{ group_name }}-delete-button" data-group="{{ group_name }}">Delete Group</button>
    {% endif %}

</div>
{% endmacro %}

{% block main %}
<div id="groups-main" class="container">
    <table id="groups-main-table" class="stripe">
        <thead>
            <tr>
                <th>Username</th>
                {% for group in groups %}

                <th data-group="{{ group.group_name }}">
                    <div class="dropdown dropright">
                        <button class="btn btn-link dropdown-toggle {{ group.group_type }}-group" id="{{ group.group_name }}-add-group-button" type="button" data-toggle="dropdown">
                            <span class="h4">{{ group.group_name }}</span>
                        </button>
                        {{ group_settings(group_name=group.group_name, description=group.description, group_type=group.group_type, is_all_users=group.is_all_users, is_enabled=group.is_enabled, is_new=0) }}
                    </div>
                </th>
                {% endfor %}
                <th data-orderable="false">
                    <div class="dropdown dropright">
                        <button class="btn btn-warning dropdown-toggle" id="new-add-group-button" type="button" data-toggle="dropdown">
                            Add New Group
                        </button>
                        {{ group_settings(is_new=1) }}
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
           {% for user in all_users %}
           <tr data-user="{{ user.name }}">
                <td class="user-name" data-user="{{ user.name }}"> {{ user.name }} </td>
                {% for group in groups %}
                {% set enabled_class = "is-enabled-checkbox" if group.is_enabled else "is-disabled-checkbox" %}
                {% set disabled = "disabled" if (not group.is_enabled or group.is_all_users) else "" %}
                {% set checked = "checked" if user.name in group.members else "" %}
                {% set ordered = "true" if checked == "checked" else "false" %}
                {% set all_users_class = "all-users" if group.is_all_users else "" %}
                <td class="group-checkbox {{ all_users_class }} {{ enabled_class }}" data-user="{{ user.name }}" data-group="{{ group.group_name }}" data-order="{{ ordered }}">
                    <input type="checkbox" class="{{ enabled_class }}" title="Group: {{ group.group_name }}, User: {{ user.name }}" {{ checked }} {{ disabled }}/>
                </td>
                {% endfor %}
                <td>&nbsp;&nbsp;&nbsp;</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} <!-- main -->

{% block script %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
<script type="text/javascript" src="static/js/groups.js"></script>

{% endblock %} <!-- script -->
