{% extends "page.html" %}
{% block main %}
<div class="container">
    <h1>Authorization Area</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Groups</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            {% for group in groups %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ group.name }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
