**
!.gitignore
!opensciencelab.yaml
!opensciencelab.example.yaml
!extension_overrides
!extension_overrides/*.json
!hooks
!hooks/*.sh
!egress
!egress/*.conf
egress/**.conf.prepared
!egress/includes
!egress/includes/*.conf
