apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    {% for node in opensarlab['nodes'] %}
    - rolearn: arn:aws:iam::{{ region_name }}:role/{{ cluster_name }}-{{ node.name }}-instance
      username: system:node:{% raw %}{{EC2PrivateDNSName}}{% endraw %}
      groups:
        - system:bootstrappers
        - system:nodes
    {% endfor %}
    - rolearn: USER_ACCESS_ROLE_ARN
      username: user-access-role
      groups:
        - system:masters
