apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    {% for node in opensarlab['nodes'] %}
    - rolearn: arn:aws:iam::{{ account_id }}:role/{{ cost_tag_value }}-{{ node.name }}-instance
      username: system:node:{% raw %}{{EC2PrivateDNSName}}{% endraw %}
      groups:
        - system:bootstrappers
        - system:nodes
    {% endfor %}
    - rolearn: USER_ACCESS_ROLE_ARN
      username: user-access-role
      groups:
        - system:masters
    - rolearn: arn:aws:iam::{{ account_id }}:role/{{ region_name }}-{{ cost_tag_value }}-CodeBuildKubectlRole
      username: build
      groups:
        - system:masters
