{% extends "page.html" %}

{% from 'page.html' import modal %}

{% macro group_settings(group_name='new', description='', group_type='label', is_default=0, is_active=1, new=0) %}
<div class="group-settings-container" role="menu">
    <div class='form-group'>
        <label for="{{ group_name }}-name-select">Group Type</label>
        <% if new %>
        <input id="{{ group_name }}-name-select" class="name-select" type='text' size='20' placeholder='New Group Name'/>
        <% else %>
        <p>{{ group_name }}</p>
        <% endif %>
    </div>

    <div class="form-group">
        <label for="{{ group_name }}-description-select">Group Type</label>
        <input type='text' id="{{ group_name }}-description-select" class="description-select" maxlength=254 size='50' placeholder='Description of Group'/>
    </div>

    <div class="form-group">
        <label for="{{ group_name }}-group-type-select">Group Type</label>
        <select class="form-control group-type-select" id="{{ group_name }}-group-type-select">
            <% if group_type == 'action' %>
           <option selected>action</option>
           <% else %>
           <option>label</option>
           <% endif %>
        </select>
    </div>

    <div class="form-group">
        <label for="{{ group_name }}-is-default-select">Default</label>
        {% if is_default == 1 %}
        <input type='checkbox' id="{{ group_name }}-is-default-select" class="is-default-select" checked />
        {% else %}
        <input type='checkbox' id="{{ group_name }}-is-default-select" class="is-default-select"/>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ group_name }}-is-active-select">Default</label>
        {% if is_active == 1 %}
        <input type='checkbox' id="{{ group_name }}-is-active-select" class="is-active-select" checked />
        {% else %}
        <input type='checkbox' id="{{ group_name }}-is-active-select" class="is-active-select" />
        {% endif %}
    </div>

</div>
{% endmacro %}

{% block nav_bar_left_items %}
{{ super() }}
{% if user.admin %}
<li><a href="{{base_url}}groups">Groups</a></li>
{% endif %}
{% endblock %}  <!-- nav_bar_left_items -->

{% block stylesheet %}
{{ super() }}

<!--link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>
<style>

    #groups-main .delete-group-button {
        color: orange;
        opacity: 0.5;
        transition: 0.3s;
        cursor: pointer;
    }

    #groups-main .delete-group-button:hover {
        opacity: 1;
    }

    #groups-main .group-type-action {
        color: orange;
    }

</style>
{% endblock %} <!-- stylesheet -->

{% if announcement_login %}
  {% set announcement = announcement_login %}
{% endif %}

{% block main %}
<div id="groups-main" class="container">
    <table id="groups-main-table" class="stripe">
        <thead>
            <tr>
                <th>Username</th>
                {% for group in groups %}

                <th class="group-name group-type-{{ group.group_type }}" data-group="{{ group.name }}">
                    {{ group.name }}
                    <span class="delete-group-button" title="Delete group {{ group.name }}"> [x] </span>
                </th>
                <button class="btn btn-primary dropdown-toggle" id="{{ group.name }}-add-group-button" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                {{ group_settings(group_name=group.name, description=group.description, group_type=group.group_type, is_default=group.is_default, is_active=1, new=0) }}

                {% endfor %}
                <th id="add-group" data-orderable="false">
                    <div>
                        <button class="btn btn-primary dropdown-toggle" id="add-group-button" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                        {{ group_settings(new=1) }}
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
           {% for user in all_users %}
           <tr data-user="{{ user.name }}">
                <td class="user-name" data-user="{{ user.name }}"> {{ user.name }} </td>
                {% for group in groups %}
                {% if user.name in group.members %}
                <td class="group-checkbox" data-user="{{ user.name }}" data-group="{{ group.name }}" data-order="true">
                    <input type="checkbox" title="Group: {{ group.name }}, User: {{ user.name }}" checked />
                </td>
                {% else %}
                <td class="group-checkbox" data-user="{{ user.name }}" data-group="{{ group.name }}" data-order="false">
                    <input type="checkbox" title="Group: {{ group.name }}, User: {{ user.name }}" />
                </td>
                {% endif %}
                {% endfor %}
                <td>&nbsp;&nbsp;&nbsp;</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} <!-- main -->

{% block script %}
{{ super() }}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
<script type="text/javascript">
      window.jhdata = {
        base_url: "/hub/",
        prefix: "/",
        user: "emlundell_test1",
        admin_access: true,
        options_form: true,
      }
</script>
<script type="text/javascript" charset="utf8">

    let table = $('#groups-main-table').DataTable();

    $('#groups-main-table').on('change', '.group-checkbox', function() {
        user_name = $(this).data("user");
        group_name = $(this).data("group");
        change_to_checked = $(this).children('input')[0].checked;
        console.log("User '" + user_name + "' has been updated for group '" + group_name + "' because 'checked' is " + change_to_checked);
        this_data = {
            "user_name": user_name,
            "group_name": group_name,
            "change_to_checked": change_to_checked,
            "operation": "checked"
        }
        var jqxhr = $.post( "/hub/groups", this_data)
            .done(function() {
                console.log("Success");
                $(this).data("order", "" + change_to_checked);
                table.draw();
            })
            .fail(function(result) {
                console.log("Error: " + result)
                $("#error-dialog .ajax-error").html("There was an error while checking a checkbox: <br/> " + str(result))
                $('#error-dialog').modal("show")
            })
    });

    $('#groups-main-table').on('click', '#new-sumbit-button', function(e) {

        group_name = $('add-group-box').val();
        description = $('#new-description-select').val();
        is_default = $('#new-is-default-select').checked();
        group_type = $('#new-group-type-select').val();

        console.log("Group '" + group_name + "' is being added to DB table" );
        this_data = {
            "group_name": group_name,
            "operation": "add_group"
        };
        var jqxhr = $.post( "/hub/groups", this_data)
            .done(function() {

              // Insert table header into second-last column with name of group (to bump group box over one)
              th = '<th class="group-name" data-group="' + group_name + '"> ' + group_name + ' <span class="delete-group-button" title="Delete group ' + group_name + '"> [x] </span> </th>';
              $("#add-group").before(th);
              $("#add-group-box").val('');

              // Loop down through rows, appending cell with name of group and username
              $("#groups-main-table tbody tr").each(function(){
                  user_name = $(this).data("user");
                  td = '<td class="group-checkbox" data-user="' + user_name + '" data-group="' + group_name + '" data-order="false"> <input type="checkbox" title="Group: ' + group_name + ', User: ' + user_name + '"/> </td>';
                  $(this).children('td:last').before(td);
              });

              //table.draw();
            })
            .fail(function(result) {
                console.log("Error: " + result)
                $("#error-dialog .ajax-error").text("There was an error while adding a group: <br/> " + result)
                $('#error-dialog').modal("show")
            })
    });

    $('#groups-main-table').on('click', '.delete-group-button', function(e) {
        group_name = $(this).parent().data("group");
        $('#modal-delete-group-button').text('Delete group "' + group_name + '"').data("group-name", group_name);
        $('#group-warning-dialog').modal("show");
    });

    $('html').on('click', '#modal-delete-group-button', function(e) {
        group_name = $(this).data("group-name");
        console.log("Group '" + group_name + "' is being deleted from DB table" )
        this_data = {
            "group_name": group_name,
            "operation": "delete_group"
        }
        var jqxhr = $.post( "/hub/groups", this_data)
            .done(function(res) {
              console.log("Success " + res)
              // Delete matching table column
              $('.group-name').filter('[data-group="' + group_name + '"]').remove()
              $('.group-checkbox').filter('[data-group="' + group_name + '"]').remove()
            })
            .fail(function(result) {
              console.log("Error: " + result)
              $("#error-dialog .ajax-error").text("There was an error while deleting a group: <br/> " + result)
              $('#error-dialog').modal("show")
            })
    });

</script>

{% endblock %} <!-- script -->

{% from 'page.html' import modal %}

{% macro group_settings(group_name='new', description='', group_type='label', is_default=0, is_active=1, new=0) %}
<div class="group-settings-container" role="menu">
    <div class='form-group'>
        <label for="{{ group_name }}-name-select">Group Type</label>
        <% if new %>
        <input id="{{ group_name }}-name-select" class="name-select" type='text' size='20' placeholder='New Group Name'/>
        <% else %>
        <p>{{ group_name }}</p>
        <% endif %>
    </div>

    <div class="form-group">
        <label for="{{ group_name }}-description-select">Group Type</label>
        <input type='text' id="{{ group_name }}-description-select" class="description-select" maxlength=254 size='50' placeholder='Description of Group'/>
    </div>

    <div class="form-group">
        <label for="{{ group_name }}-group-type-select">Group Type</label>
        <select class="form-control group-type-select" id="{{ group_name }}-group-type-select">
            <% if group_type == 'action' %>
           <option selected>action</option>
           <% else %>
           <option>label</option>
           <% endif %>
        </select>
    </div>

    <div class="form-group">
        <label for="{{ group_name }}-is-default-select">Default</label>
        {% if is_default == 1 %}
        <input type='checkbox' id="{{ group_name }}-is-default-select" class="is-default-select" checked />
        {% else %}
        <input type='checkbox' id="{{ group_name }}-is-default-select" class="is-default-select"/>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ group_name }}-is-active-select">Default</label>
        {% if is_active == 1 %}
        <input type='checkbox' id="{{ group_name }}-is-active-select" class="is-active-select" checked />
        {% else %}
        <input type='checkbox' id="{{ group_name }}-is-active-select" class="is-active-select" />
        {% endif %}
    </div>

</div>
{% endmacro %}

{% call modal('Delete Group', btn_label='WARNING') %}
    <div class="ajax-warning">
        <p>Are you sure you want to delete this group? This cannnot be undone.</p>
        <button type="button" id="modal-delete-group-button" data-dismiss="modal" class="btn btn-warning"></button>
    </div>
{% endcall %}

<!--div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="warning-label">Warning</h4>
    </div>
    <div class="modal-body">
        <div class="ajax-warning">
            <p>Are you sure you want to delete this group? This cannnot be undone.</p>
            <button type="button" id="modal-delete-group-button" data-dismiss="modal" class="btn btn-warning"></button>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div-->
