{% extends "page.html" %}
{% if announcement_login %}
  {% set announcement = announcement_login %}
{% endif %}

{% block login_widget %}
{% endblock %}

{% block main %}

<style>

    #groups-main {
    }

    #groups-main thead th, tfoot th {
      font-family: 'Rock Salt', cursive;
    }

    #groups-main th {
      letter-spacing: 2px;
      padding: 10px;
    }

    #groups-main td {
      letter-spacing: 1px;
      padding: 10px;
    }

    #groups-main tbody td {
      text-align: center;
    }

    #groups-main tfoot th {
      text-align: right;
    }
</style>


<div id="groups-main" class="container">
    <table id="users_groups">
        <thead>
            <tr>
                <th>Username</th>
                {% for group in group_list %}
                <th> {{ group.name }} </th>
                {% endfor %}
                <th> <button id="add_group_btn" >Add Group</button> </th>
            </tr>
        </thead>
        <tbody>
           {% for user in users %}
           <tr>
                   <td> {{ user.name }} </td>
                   {% for group in group_list %}
                       <td>
                       {% if group.users[0].name == user.name %}
                       <input class="group_checkbox" type="checkbox" data-user="{{ user.name }}" data-group="{{ group.name }}" checked />
                       {% else %}
                       <input class="group_checkbox" type="checkbox" data-user="{{ user.name }}" data-group="{{ group.name }}" />
                       {% endif %}
                       </td>
                   {% endfor %}
           </tr>
           {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $('.group_checkbox').change(function() {
        console.log("User '" + this.dataset.user + "' has been updated for group '" + this.dataset.group + "'");
        this_data = {"user": this.dataset.user, "group": this.dataset.group, "is_checked": this.checked}
        var jqxhr = $.post( "/hub/groups", this_data, function(result) {
              console.log("Success is " + result);
            })
            .fail(function(result) {
              console.log("Error: " + result)
            })
    });
</script>


{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
