---

{% set cost_tag_value = opensciencelab['parameters']['cost_tag_value'] -%}
apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: arn:aws:iam::{{ account_id }}:role/{{ region_name }}-{{ cost_tag_value }}-cluster-run-role
      username: cluster-run-role
      groups:
        - system:masters
    - rolearn: arn:aws:iam::{{ account_id }}:role/{{ region_name }}-{{ cost_tag_value }}-cluster-build-role
      username: cluster-build-role
      groups:
        - system:masters
    {% for node in opensciencelab['nodes'] -%}
    {%- set node_name_escaped = node.name | regex_replace ("[^A-Za-z0-9]","00") -%}
    - rolearn: arn:aws:iam::{{ account_id }}:role/{{ region_name }}-{{ cost_tag_value }}-cluster-{{ node_name_escaped }}-instance-role
      username: system:node:{% raw %}{{EC2PrivateDNSName}}{% endraw %}
      groups:
        - system:bootstrappers
        - system:nodes
    {% endfor %}
  mapUsers: |
    - rolearn: arn:aws:iam::{{ account_id }}:group/{{ region_name }}-{{ cost_tag_value }}-cluster-user-access-ro-group
      username: cluster-user-access-ro-group
      groups:
        - eks-console-dashboard-full-access-group
    - rolearn: arn:aws:iam::{{ account_id }}:group/{{ region_name }}-{{ cost_tag_value }}-cluster-user-access-full-group
      username: cluster-user-access-full-group
      groups:
        - eks-console-dashboard-full-access-group
